extends layout

block main
    .registro-container
        h1 Crear Parqueadero
        p Ingresa los datos para registrar un nuevo parqueadero.

        // en el action se define la ruta la cual apunta a la carpeta routas
        form#formRegisterparking(action="/parqueadero" method="POST")


            .form-group
                label(for="nombreparqueadero") Nombre del Parqueadero
                input#nombreparqueadero(type="text" name="nombreparqueadero" placeholder="Ej: Parking Central" required)

            .form-group
                label(for="direccion") Dirección
                input#direccion(type="text" name="direccion" placeholder="Ej: Calle 10 #25-30" required)

            .form-group
                label(for="capacidad") Capacidad de Espacios
                input#capacidad(type="number" name="capacidad" placeholder="Solo Numero" required)

           

            button.btn(type="submit") Guardar Parqueadero

        a.volver(href="/menu") Volver al Panel

        

