extends layout

block header 
    
    nav.navbar
        a.logo(href="/") ParkingPlus
        ul.menu
            li
                a(href="/") Inicio
            li
                a(href="/nosotros") Nosotros
            li
                a(href="/registro") Registro
