extends layout

block main 
    .home-container
        h1 Bienvenido
        img(src="../img/descarga.png")

        nav.nav-menu
            a.btn-nav(href="/registro") Registro
            a.btn-nav(href="/nosotros") Nosotros
            a.btn-nav(href="/login") Iniciar Sesión

        p Tu plataforma de gestión de Parqueaderos.
