extends layout

block main
    .form-container
        h1 Iniciar Sesi칩n
        p Ingresa tus datos para acceder a ParkingPlus.

        form.form-login(action="/login", method="POST")
            .form-group
                label(for="email") Correo Electr칩nico:
                input(type="email", id="email", name="email", required)

            .form-group
                label(for="password") Contrase침a:
                input(type="password", id="password", name="password", required)

            button.btn(type="submit") Iniciar Sesi칩n

            a(href="/registrousuario") Registrese!
