extends layout

block main
    .registro-container
        h1 Registro de Usuario
        p Completa el siguiente formulario para registrarte.

        form#formRegister.form-registro

            .form-group
                label(for="nombre_usuario") Nombre:
                input#nombre_usuario(type="text" name="nombre_usuario" required)

            .form-group
                label(for="apellido_usuario") Apellido:
                input#apellido_usuario(type="text" name="apellido_usuario" required)

            .form-group
                label(for="documento_usuario") Documento:
                input#documento_usuario(type="text" name="documento_usuario" required)

            .form-group
                label(for="cod_tipousuario") Tipo de Usuario:
                select#cod_tipousuario(name="cod_tipousuario" required)
                    option(value="") Seleccione...

            .form-group
                label(for="correo_usuario") Correo Electrónico:
                input#correo_usuario(type="email" name="correo_usuario" required)

            .form-group
                label(for="celular") Celular:
                input#celular(type="text" name="celular" required)

            .form-group
                label(for="clave") Contraseña:
                input#clave(type="password" name="clave" required)

            button.btn(type="submit") Registrarse

        a.link-volver(href="/login") Ya tienes cuenta? Iniciar sesión


block scripts
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")

    script.
        document.addEventListener("DOMContentLoaded", async () => {
            const select = document.getElementById("cod_tipousuario");

            try {
                const response = await axios.get("/tipousuarios");
                const tipos = response.data.data;

                tipos.forEach(tu => {
                    const option = document.createElement("option");
                    option.value = tu.cod_tipousuario;
                    option.textContent = tu.nombre_tipousuario;
                    select.appendChild(option);
                });
            } catch (err) {
                Swal.fire("Error", "No se pudieron cargar los tipos", "error");
            }
        });

        document.getElementById("formRegister").addEventListener("submit", async (e) => {
            e.preventDefault();

            const data = Object.fromEntries(new FormData(e.target));

            try {
                const response = await axios.post("/usuarios/registrousuario", data);

                Swal.fire("Usuario creado", "Registro exitoso", "success")
                    .then(() => location.href = "/login");

            } catch (error) {
                Swal.fire("Error", "No se pudo registrar el usuario", "error");
            }
        });
